{% extends 'layout/default.twig' %}

{% block isi %}
	<div class="list-group">
	    {% for x in data %}
	    	<a href="#!" class="list-group-item">{{ x.nama }}</a>
	    {% endfor %}
	</div>
{% endblock %}